.HeroContainer {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--background-color); 
  width: 100%; 
}

.HeroText {
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.HeadphoneImage {
  width: 100px; 
  height: auto; 
}
