.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
  }
  .search{
      width: 502px;
      height: 100%;
      border-radius: 8px;
      border: 1px solid var(#121212);
      padding: 14px 20px;
  
  }
  .searchButton{
      border-radius: 8px;
      
      border: 1px solid var(#121212);
      cursor: pointer;
      height: 100%;
      padding: 14px 20px;
      background-color: #34C94B;
  }
  